#loginContent {
    height: 100%;
    width: 100%;
    background-color: #92F9E9;
    z-index: -2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

form#login {
    margin: 2em;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1em;
    padding-top: 2em;
    text-align: center;
    width: 20rem;
}

#login input, #login button {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 7px;
    padding: .5rem .7rem;
    margin-bottom: 4vh;
    font-size: 1.2em;
}

.buttonStyle {
    min-width: 17rem;
    font-weight: 900;
}

#loginButton{
    border: none !important;
    background-color: #47C2B1;
    color: white;
}

#registerButton {
    border: 2px solid #47C2B1;
    color: #47C2B1;
}

.registerLink {
    text-align: center;
}